[submodule "frontend"]
	path = frontend
	url = https://github.com/DavidApril/frontend.git
[submodule "interactions.ms"]
	path = interactions.ms
	url = https://github.com/DavidApril/interactions.ms.git
[submodule "authentication"]
	path = authentication
	url = https://github.com/DavidApril/auth.ms.git
[submodule "projects"]
	path = projects
	url = https://github.com/DavidApril/projects.ms.git
[submodule "interactions"]
	path = interactions
	url = https://github.com/DavidApril/interactions.ms.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/DavidApril/gateway.git
